.box {
    width: 100px;
}

//注释：Sass和Less  单行注释都不会被编译

/* 但多行注释都会被编译，也就是说双斜杠的注释不会被编译*/
// Less中  创建变量是用$
$number :111px;

.box {
    width: $number;
}

// 插值 
//     Less是${变量名}表示插值 ,Sass是# {$变量名}


$key : margin;

.box2 {
    #{$key} :auto;
}

// 作用域  Less的作用域不受顺序影响 Sass的作用域受顺序影响

.box3 {
    // $number :333px;   
    // 若写在调用变量语句的前面 ，将会生效
    width: $number;
    $number :222px;
}
/*

选择器嵌套 

*/ 
ul{
    list-style: none;
    li{
        div{
            margin :auto;
        }
        p{
            color: black;
        }
    }
}
/* 

伪类嵌套  伪类和标签之前的空格用&去掉

*/

ul{
    list-style: none;
    li{
        div{
            margin :auto;
        }
        p{
            color: black;
        }
    }
    :hover {
        color: black;
    }
    &:nth-child(1) {
        color: red;
    }
}

/* 属性嵌套   Less没有属性嵌套 */

.text {
    font : {
        size : 10px;
        weight : bold;
        family : 黑体;
    }
}



/* 运算  单位  颜色*/
$num : 100px;
$color : #010203;
// Sass中运算单位必须一致
.box4 {
    width: $num + 10px;
    height: 10px + $num;
}
.box5 {
    width: $num * 3;
    height: $num / 3;
    margin: 100px *3;
    padding: 100px / 3;
    color: $color * 2;
}

/* 函数 */
@function sum ( $n , $m ){
    @return $n + $m ;
}

.box6 {
    width: round(4.3px);     //四舍五入
    height: percentage(0.3); //换算成百分比
    padding: random($limit: 100); //随机数
    font-size: sum( 315px , 4px );  //调用函数
}

/* 混入 */

@mixin show {
    display: block;
}
@mixin hide ($color){
    color: $color;
}
.box7 {
    @include show;
    @include hide(blue);
}
.box8 {
    @include show;
}


/* 继承 */

.line {
    display: inline;
}
.box8 {
    @extend .line;
}
.box9 {
    @extend .line;
}
//将.换成%可以去掉对line的渲染

%line {
    display: inline;
}
.box8 {
    @extend %line;
}
.box9 {
    @extend %line;
}



/* 合并 */

$background :(
    a : url(1.png),
    b : url(2.png),
    c : url(3.png)
);

$transform :(
    a : scale(5),
    b : rotat(20deg)
);

.box10 {
    background: zip(map-values($background)...);
    transform: zip(map-values($transform)...);
}

/* 媒体查询 */

.box11 {
    width: 100px;
    @media all and (min-width : 748px) {
        width: 600px;
    }
    @media all and (min-width : 1440px) {
        width: 900px;
    }
}

/* 条件语句 */

$count : 5 ;
.box12 {
    @if ($count <3 ) {
        width: 10px + $count;
    }
    @else{
        width: 5px + $count;
    }
}

/* 循环语句 */

@for $i from 0 through $count {
    .box-#{$i} {
        width : 10px + $i;
    }
}

/* 导入 */

@import 'test3.scss';


